html {
    scroll-behavior: smooth;
}

.main-title {
    display: block;
    color: #cc8400;
    text-align: center; 
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.subtitle {
    display: block;
    color: #3792cb;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3vh;
}

.subsubtitle {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section-title {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.content-para {
    width: 80%;
    margin: auto;
    margin-top: 4vh;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.code-block {
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.language-bash {
    border-radius: 7px;
}

.inputs-outputs {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

.inputs-outputs li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tool-img {
    display: block;
    width: 80%;
    margin: auto;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 10vh; 
    left: 5vw; 
    width: 90%; 
    height: 90%;
    margin: auto;
}

@media(min-width: 700px) {
    .content-para {
        width: 65%;
    }

    .subsubtitle {
        width: 50%;
    }

    .code-block {
        width: 50%;
    }

    .tool-img {
        width: 60%;
    }

    .inputs-outputs {
        width: 50%;
    }

    .embed-container iframe, .embed-container object, .embed-container embed { 
        left: 20vw;
        width: 60%; 
        height: 60%;
    }


}